name: Excel_to_Timeline
on:
  push:
    paths:
      - '**.csv'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Pandas
        run: pip install pandas
      - name: Run Analysis
        run: python analyzer.py
      - name: Push JSON
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add fleet_detailed.json
          git commit -m "Update timeline data" || echo "No changes"
          git push
